 <!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        @*<div class="image">
                <img src="~/Content/clients/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Alexander Pierce</a>
            </div>*@

        <div class="image">
            <img src="/Content/clients/dist/img/avatar.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">
                @User.Identity.Name
            </a>
            <span class="badge bg-danger">
                Admin
            </span>
        </div>
    </div>

    <!-- SidebarSearch Form -->
    @*<div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>*@

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
            with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="/admin/ManageCategory" class="nav-link">
                    <i class="nav-icon fas fa-list-alt"></i>
                    <p>
                        Danh Mục
                    </p>
                </a>

            </li>
            <li class="nav-item">
                <a href="/Admin/Managenew" class="nav-link">
                    <i class="nav-icon fas fa-file-alt"></i>
                    <p>
                        Tin Tức
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-users"></i>
                    <p>
                        Quản lý tài khoản
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/admin/Manageaccount" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Danh sách tài khoản</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/Managerole" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Role</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/Managerole/setrole" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Set Role</p>
                        </a>
                    </li>


                </ul>
            <li class="nav-item">
                <a href="/admin/ManageSettingSystem" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Cấu hình hệ thống

                    </p>
                </a>
            </li>
            </li>
            <li class="nav-item">
                <a href="/Account/LogOff" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    Đăng xuất

                </p>
                </a>
            </li>

        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->

