@model IEnumerable<BaseProject.Models.EF.Category>

@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Category</h2>

@foreach (var item in Model)
{
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default" style="text-align: center">
            <div class="panel panel-heading" style="font-weight: bold">
                @item.CategoryName
            </div>
            <div class="panel-body">
                <p>
                    <img style="height:150px" src="@item.Images" />
                </p>
                <p>
                    @item.Description
                </p>
            </div>
            
        </div>
    </div>
}
